<%= simple_form_for(@run_query) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :sql, :as => :text, :label => 'SQL', :hint => '' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :value => 'Display Results', :class => 'btn btn-primary' %>
    <%= f.button :submit, :value => 'Download CSV' %>
    <%= link_to 'Save As...', new_saved_query_path(:sql_btoa => '__SQL__'), :class => 'btn', :id => 'save-as' %>
  </div>
<% end %>
